body div.photoone{
    float:right
}

body main img.pp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


body{
    margin: auto;
    width: 900px;
    height: 0 auto;
    background-color: white;
    min-height: 1400;
    position: relative;
    margin-bottom: 100px;
}
header{
    margin-top: 5%;
    margin-bottom: 5%;
}

body main 